.statTop{
  margin-top:-13px;
}

.stat{
  margin-top:20px;
}

.statBorder{
  border-image: url(./statborder.svg);
  border-image-slice: 30% 30% fill;
  border-image-width: 18px 18px;
}

.styledBorder{
  border-image: url(./styledBorder3.svg);
  border-image-slice: 30% 30% fill;
  border-image-width: 18px 18px;
}

.styledBorder1{
  border-image: url(./styledBorder.svg);
  border-image-slice: 35% 35% fill;
  border-image-width: 18px 18px;
}

.styledBorder2{
  border-image: url(./styledBorder2.svg);
  border-image-slice: 35% 35% fill;
  border-image-width: 18px 18px;
}

input{
  color:#f80 !important;
}

.rollItem{
  margin-bottom:1px;
}

.marginFix{
  padding:2px;
}