

#nav-content{
  max-height:0px;
  overflow:hidden;
  /* -webkit-transition: all .3s cubic-bezier(.36,1.03,.85,.83);
  -moz-transition: all .3s cubic-bezier(.36,1.03,.85,.83);
  -o-transition: all .3s cubic-bezier(.36,1.03,.85,.83); */
  transition: all .3s cubic-bezier(.49,1.24,.51,.55);
}

#nav-content.slide{
  max-height:160px;
}